body
{
	text-align: center;
}
section li
{
	list-style: none;
}

a:link, a:visited
{
	text-decoration: none;
	background-image: linear-gradient(#EE5E4F 50%, #EE5E4F 50%), linear-gradient(silver 50%, silver 50%);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 0 .063em, 100% .063em;
	color: #607584;
	padding-bottom: .188em;
	transition: background-size .5s;
}

a:hover, a:active
{
   background-size: 100% .063em, 100% .063em;
   background-position: left bottom;
}
